p, p.h4 {margin: 1em 0}
.shiny-input-container:not(.shiny-input-container-inline) {width: 100%}
.shiny-output-error {visibility: hidden;}

.plotContainer {position:relative; overflow: hidden}
#plotDetails {position: absolute; left:100%}
#plot.details, #plotDetails.details {float: left; width: 50%}
#plotDetails.details {position: relative; left:0}

.ggplot2Container {position:relative;}
#ggplot2Reset {position: absolute; top: 0; right: 0; opacity: 0.5;}
#ggplot2Reset:hover {opacity: 1;}

#rglplotAdd {float: right}
#rglplotError {color: red}

#plotReload, #rglplotRandom {margin-top: 10px}
